html {
    height: 100%;
}
body { 
    padding: 0; 
    margin: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#unity-canvas { 
    background: #231F20; 
    width: 100%; 
    height: 100%;
}
